{{>head}}
	

<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Slider
================================================== -->

<!-- Revolution Slider -->
<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

<!-- 5.0.7 auto mode -->
	<div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
		<ul>

			<!-- Slide  -->
			<li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

				<!-- Background -->
				<img src="images/sanfran-bg.jpg" id="img" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

				<!-- Caption-->
				<div class="tp-caption custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" 
					id="slide-1-layer-2" 
					data-x="['left','left','left','left']"
					data-hoffset="['0','40','40','40']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0']" 
					data-width="['640','640', 640','420','320']"
					data-height="auto"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"	
					data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo" 
					data-transform_out="" 
					data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;" 
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
					data-start="1000" 
					data-responsive_offset="on">

					<!-- Caption Content -->
					<div class="R_title margin-bottom-15"
					id="slide-2-layer-1"
					data-x="['left','center','center','center']"
					data-hoffset="['0','0','40','0']"
					data-y="['middle','middle','middle','middle']"
					data-voffset="['-40','-40','-20','-80']"
					data-fontsize="['42','36', '32','36','22']"
					data-lineheight="['70','60','60','45','35']"
					data-width="['640','640', 640','420','320']"
					data-height="none" data-whitespace="normal"
					data-transform_idle="o:1;"
					data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
					data-transform_out="opacity:0;s:300;"
					data-start="600"
					data-splitin="none"
					data-splitout="none"
					data-basealign="slide"
					data-responsive_offset="off"
					data-responsive="off"
					style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Discover City Gems</div>

					<div class="caption-text">Is your flight hours away, don't want to pay for an extra day at your AirBnb. Leave your bags with us! Explore!</div>
					<a href="#" class="button medium">Get Started</a>
				</div>

			</li>

			<!-- Slide  -->
			<li data-index="rs-2" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

				<!-- Background -->
				<img src="images/nyc-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"> 

				<!-- Caption-->
				<div class="tp-caption centered custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" 
					id="slide-2-layer-2" 
					data-x="['center','center','center','center']" data-hoffset="['0']" 
					data-y="['middle','middle','middle','middle']" data-voffset="['0']" 
					data-width="['640','640', 640','420','320']"
					data-height="auto"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"	
					data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo" 
					data-transform_out="" 
					data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;" 
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
					data-start="1000" 
					data-responsive_offset="on">

					<!-- Caption Content -->
					<div class="R_title margin-bottom-15"
					id="slide-2-layer-3"
					data-x="['center','center','center','center']"
					data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']"
					data-voffset="['-40','-40','-20','-80']"
					data-fontsize="['42','36', '32','36','22']"
					data-lineheight="['70','60','60','45','35']"
					data-width="['640','640', 640','420','320']"
					data-height="none" data-whitespace="normal"
					data-transform_idle="o:1;"
					data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
					data-transform_out="opacity:0;s:300;"
					data-start="600"
					data-splitin="none"
					data-splitout="none"
					data-basealign="slide"
					data-responsive_offset="off"
					data-responsive="off"
					style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Streamline Your Luggage</div>

					<div class="caption-text">Take your time. You deserve it!</div>
					<a href="#" class="button medium">Read More</a>
				</div>

			</li>

		</ul>
		<div class="tp-static-layers"></div>

	</div>
</div>
<!-- Revolution Slider / End -->


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-35 margin-top-70">Cities We're In <span>Browse the listings</span></h3>
		</div>
		
		<div class="col-md-4">

			<!-- Image Box -->
			<a href="/location/list?city=NYC" class="img-box" data-background-image="images/nyc.jpg">
				<div class="img-box-content visible">
					<h4>New York City</h4>
					<span>{{nyc}} Listings</span>
				</div>
			</a>

		</div>	
			
		<div class="col-md-8">

			<!-- Image Box -->
			<a href="/location/list?city=LA" class="img-box" data-background-image="images/la.jpg">
				<div class="img-box-content visible">
					<h4>Los Angeles</h4>
					<span>{{La}} Listings</span>
				</div>
			</a>

		</div>	

		<div class="col-md-8">

			<!-- Image Box -->
			<a href="/location/list?city=SanFrancisco" class="img-box" data-background-image="images/sanfran.jpg">
				<div class="img-box-content visible">
					<h4>San Francisco </h4>
					<span>{{sanFran}} Listings</span>
				</div>
			</a>

		</div>	
			
		<div class="col-md-4">

			<!-- Image Box -->
			<a href="/location/list?city=Austin" class="img-box" data-background-image="images/austin.jpg">
				<div class="img-box-content visible">
					<h4>Austin</h4>
					<span>{{austin}} Listings</span>
				</div>
			</a>

		</div>

	</div>
</div>
<!-- Container / End -->



<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Most Visited Places
					<span>Discover top-rated local businesses</span>
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container compact">
							<div class="listing-item">
								<img src="images/listing-item-01.jpg" alt="">

								<div class="listing-badge now-open">Now Open</div>

								<div class="listing-item-content">
									<div class="numerical-rating" data-rating="3.5"></div>
									<h3>Tom's Restaurant</h3>
									<span>964 School Street, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container compact">
							<div class="listing-item">
								<img src="images/listing-item-02.jpg" alt="">
								<div class="listing-item-details">
									<ul>
										<li>Friday, August 10</li>
									</ul>
								</div>
								<div class="listing-item-content">
									<div class="numerical-rating" data-rating="5.0"></div>
									<h3>Sticky Band</h3>
									<span>Bishop Avenue, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->		

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container compact">
							<div class="listing-item">
								<img src="images/listing-item-03.jpg" alt="">
								<div class="listing-item-details">
									<ul>
										<li>Starting from $59 per night</li>
									</ul>
								</div>
								<div class="listing-item-content">
									<div class="numerical-rating" data-rating="2.0"></div>
									<h3>Hotel Govendor</h3>
									<span>778 Country Street, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>

						</a>
					</div>
					<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container compact">
							<div class="listing-item">
								<img src="images/listing-item-04.jpg" alt="">

								<div class="listing-badge now-open">Now Open</div>

								<div class="listing-item-content">
									<div class="numerical-rating" data-rating="5.0"></div>
									<h3>Burger House</h3>
									<span>2726 Shinn Street, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->

					<!-- Listing Item -->
					<div class="carousel-item">
						<a href="listings-single-page.html" class="listing-item-container compact">
							<div class="listing-item">
								<img src="images/listing-item-05.jpg" alt="">
								<div class="listing-item-content">
									<div class="numerical-rating" data-rating="3.5"></div>
									<h3>Airport</h3>
									<span>1512 Duncan Avenue, New York</span>
								</div>
								<span class="like-icon"></span>
							</div>
						</a>
					</div>
					<!-- Listing Item / End -->

				</div>
				
			</div>

		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->



	
<!-- Pricing Tables -->
<section class="fullwidth margin-top-70 margin-bottom-65" data-background-color="#fff">

	<!-- Container / Start -->
	<div class="container">


		<div class="row">
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-50">
					Get an Exposure For Your Listing
				</h3>
			</div>
		</div>


		<!-- Row / Start -->
		<div class="row">

			<div class="col-md-12">
				<div class="pricing-container margin-top-30">

				

					<!-- Plan #3 -->
					<div class="plan featured">

						<div class="listing-badge">
							<span class="featured">Featured</span>
						</div>

						<div class="plan-price">
							<h3>24 Hours</h3>
							<span class="value">$5</span>
							<span class="period">24 Hours for One nag/luggage</span>
						</div>
						<div class="plan-features">
							<ul>
								<li>We'll Take Care of It</li>
								<li>Enjoy Yourself</li>
								<li>Explore the City</li>
								<li>Take a Break</li>
							</ul>
							<a class="button" href="#">Get Started</a>
						</div>
					</div>

					<!-- Plan #3 -->
					<div class="plan">

						<div class="plan-price">
							<h3>An extra 24 Hours</h3>
							<span class="value">$4</span>
							<span class="period">An extra 24 Hours of storage for each bag/luggage</span>
						</div>

						<div class="plan-features">
							<ul>
								<li>Need some more time?</li>
								<li>Need a longer Break?</li>
								<li>Sucks Carrying luggage around</li>
								<li>Something to hide?</li>
								<li>No Pets(Seriously, lol)</li>
							</ul>
							<a class="button border" href="#">Get Started</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Row / End -->

	</div>
	<!-- Container / End -->

</section>
<!-- Pricing Tables / End -->


<!--
<section class="fullwidth border-top margin-top-40 margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="#ffffff">
-->
	<!-- Logo Carousel -->
	<!--
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-40 margin-top-10">Companies We've Worked With <span>We can assist you with your innovation or commercialisation journey!</span></h3>
			</div>
			-->
			
			<!-- Carousel -->
			<!--
			<div class="col-md-12">
				<div class="logo-slick-carousel dot-navigation">
					
					<div class="item">
						<img src="images/logo-01.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-02.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-03.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-04.png" alt="">
					</div>
					
					<div class="item">
						<img src="images/logo-05.png" alt="">
					</div>		

					<div class="item">
						<img src="images/logo-06.png" alt="">
					</div>	

					<div class="item">
						<img src="images/logo-07.png" alt="">
					</div>


				</div>
			</div>
			-->
			<!-- Carousel / End -->
<!--
		</div>
	</div>
	-->
	<!-- Logo Carousel / End -->
<!--
</section>
-->

{{>footer}}
{{>scripts}}
{{>slider}}
{{>signInUpScript}}
</body>
</html>