.big {
    height: 60px;
    width: 100px;
}
.small {
    height: 40px;
    width: 70px;
}

.disabled {
    pointer-events: none;
    cursor: default;   
}

.disabled i{
    color: #FF0000;
}

.btn{
    border-radius: 50px; width: 100px; height: 45px; 
    font-size:15px; font-weight: 600; color: #fff;
}

.btn-red{
    background: red;
}

.btn-black{
    background: black;
}

.btn-orange{
    background: orange;
}

.btn-green{
    background: green;
}


/* these styles are for the pagination links  */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.btn-2 {
    font-weight: 600;
    font-size: 11px;
    padding: 7px 26px;
    line-height: inherit;
    color: #b5b9bf;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #fff;
    border-color: #ebebeb;
    outline: none;
    -webkit-transition: 0.15s linear;
    transition: 0.15s linear;
  }