{{>headDash}}
    <!-- Content
	================================================== -->
	<div class="dashboard-content">
		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>Show Active Stashes</h2>
					
					<nav id="breadcrumbs">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/dashboard">Dashboard</a></li>
							<li>Show Active Stashes</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3" >
				<label>Search for Ticket Number:</label>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6">
				<input type="text" name="search" id="searchTerm" placeholder="Search" >
			</div>
			<div class="col-sm-12 col-md-3 col-lg-3" >
				<button class="button" id="searchBtn" >Search</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-md-12">
				<table class="table" >
					<thead>
						<tr>
							<th>Ticket Number</th>
							<th>Sum Total</th>
							<th>Number of Bags</th>
							<th>Number of Days</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{{#stashed}}
						<tr>
							<td>{{ticket}}</td>
							<td>{{sumTotal}}</td>
							<td>{{qtyBags}}</td>
							<td>{{days}}</td>
							<td  >
								<button id="btn-{{id}}" class="btn {{status.btnColor}} check" 
									data-id="{{id}}" data-name="CheckIn" data-status-id="{{status.id}}"
								>
									{{status.name}}
								</button>
								<h3 id="loading-{{id}}" class="hidden" >Loading...</h3>
							</td>
						</tr>
						{{/stashed}}
					</tbody>
				</table>
            </div>
        </div>
		<div class="row" >
			<a class="btn-2 btn-white {{pgLinks.backward.class}}" href="/dashboard/active-stash-{{slug}}?page={{pgLinks.backward.num}}" > < Backwards</a>

            <a class="btn-2 btn-white {{pgLinks.forward.class}} pull-right" href="/dashboard/active-stash-{{slug}}?page={{pgLinks.forward.num}}">Forwards > </a>
		</div>
    </div>

    {{>scriptsDash}}
    <!-- For file uploading. Remove if file upload not necessry -->
	<script type="text/javascript" src="/js/dropzone.js"></script> 
	<!-- Turbo CDN. Better to use CDN than to store locally. -->
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
	<!-- sweet alert -->
  	<script type="text/javascript" 
                src="https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js" ></script> 

	<script type="text/javascript" >
		$(function(){
			$("#searchBtn").on('click', function(e){
				e.preventDefault()
				const searchTerm = $("#searchTerm").val()
				console.log('searchTerm: ',searchTerm)
			})

			$(".check").on('click', function(e){
				const checkInID = $(this).attr("data-id") 
				const statusID  = $(this).attr("data-status-id")
				const btn = $(this)
				$(this).addClass('hidden')
				$("#loading-"+checkInID).removeClass('hidden')
				$.ajax({
					url: '/dashboard/change-status',
					data: {
						format:    'json',
						checkInID: checkInID,
						statusId:  statusID
					},
					error: function(err) {
                        $("#loading-"+checkInID).addClass('hidden')
						btn.removeClass('hidden')
						console.log('err:',err)
					},
					dataType: 'json',
					success: function(data) {
						console.log('data:',data)
						btn.removeClass()
						$("#loading-"+checkInID).addClass('hidden')
                        btn.attr("data-status-id", data.update.status.id)
						btn.html(data.update.status.name)
						btn.addClass('btn check '+data.update.status.btnColor)
					},
					type: 'POST'
				})
			})
		})
	</script>
    </body> 
</html>

